*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --tile_width: 4vw;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#row{
    display: flex;
    flex-direction: row;
}
.Cell{
    transition: all 0.5s ease;
    width: var(--tile_width);
    height: var(--tile_width);
    background: grey;
    border: 5px solid #00f
}
.Cell[filled = "grey"]{
    background: grey;
}
.Cell[filled = "red"]{
    background: red;
}
.Cell[filled = "yellow"]{
    background: yellow;
}
.Cell:hover{
    background: white;
}